<div class="footer clearfix">
	<div class="footer-navigation col-xs-10 col-xs-offset-1">
		<ul class="footer-navigation-list">
			<li class="footer-navigation-item"><a class="footer-navigation-link" href="/">Home</a></li>
			<li class="footer-navigation-item"><a class="footer-navigation-link" href="/about-us/">About</a></li>
			<li class="footer-navigation-item"><a class="footer-navigation-link" href="/events/">Events</a></li>
			<li class="footer-navigation-item">
				<img width="150" src="{{ 'assets/graphics/logo-white.png'|theme }}" alt="Activ Cycles Logo" class="logo">
			</li>
			<li class="footer-navigation-item"><a class="footer-navigation-link" href="/bikes/">Bikes</a></li>
			<li class="footer-navigation-item"><a class="footer-navigation-link" href="/menu/">Menu</a></li>
			<li class="footer-navigation-item"><a class="footer-navigation-link" href="/contact-us/">Contact</a></li>
		</ul>
	</div>
	<div class="footer-ar-media col-xs-12">
		<p>Activ Cycles 2016 | Design by <a class="footer-ar-media-link" href="http://www.adamrostron.co.uk">AR Media</a></p>
	</div>	
</div>