<div class="slick-slider">
	<div><div class="bike-gallery-images" style="background-image:url('{{ 'assets/graphics/bikes/jersey.jpg'|theme }}');"></div></div>
	<div><div class="bike-gallery-images" style="background-image:url('{{ 'assets/graphics/bikes/bike.jpg'|theme }}');"></div></div>
	<div><div class="bike-gallery-images" style="background-image:url('{{ 'assets/graphics/bikes/shimano.jpg'|theme }}');"></div></div>
	<div><div class="bike-gallery-images" style="background-image:url('{{ 'assets/graphics/bikes/gears.jpg'|theme }}');"></div></div>
	<div><div class="bike-gallery-images" style="background-image:url('{{ 'assets/graphics/bikes/bike-1.jpg'|theme }}');"></div></div>
	<div><div class="bike-gallery-images" style="background-image:url('{{ 'assets/graphics/bikes/helmets.jpg'|theme }}');"></div></div>
</div>