<div class="gallery-home clearfix">
	<div class="gallery-link">
		<div class="gallery-link-overlay">
			<a href="/gallery/" class="cta-button white-cta">View Gallery<i class="fa fa-long-arrow-right"></i></a>
		</div>
		<img class="gallery-link-image" src="{{ 'assets/graphics/home/gallery-images/scones.jpg'|theme }}" alt="Gallery Image 1">
	</div>
	<div class="gallery-link">
		<div class="gallery-link-overlay">
			<a href="/gallery/" class="cta-button white-cta">View Gallery<i class="fa fa-long-arrow-right"></i></a>
		</div>
		<img class="gallery-link-image" src="{{ 'assets/graphics/home/gallery-image-2.jpg'|theme }}" alt="Gallery Image 1">
	</div>
	<div class="gallery-link">
		<div class="gallery-link-overlay">
			<a href="/gallery/" class="cta-button white-cta">View Gallery<i class="fa fa-long-arrow-right"></i></a>
		</div>
		<img class="gallery-link-image" src="{{ 'assets/graphics/home/gallery-images/paintings.jpg'|theme }}" alt="Gallery Image 1">
	</div>
	<div class="gallery-link">
		<div class="gallery-link-overlay">
			<a href="/gallery/" class="cta-button white-cta">View Gallery<i class="fa fa-long-arrow-right"></i></a>
		</div>
		<img class="gallery-link-image" src="{{ 'assets/graphics/home/gallery-image-4.jpg'|theme }}" alt="Gallery Image 1">
	</div>
	<div class="gallery-link">
		<div class="gallery-link-overlay">
			<a href="/gallery/" class="cta-button white-cta">View Gallery<i class="fa fa-long-arrow-right"></i></a>
		</div>
		<img class="gallery-link-image" src="{{ 'assets/graphics/home/gallery-images/outside-the-shop.jpg'|theme }}" alt="Gallery Image 1">
	</div>
</div>