<div class="opening-times clearfix">
	<h3 class="opening-times-header">Opening Times</h3>
	<div class="clearfix opening-times-row first">
		<p class="opening-times-day"><i class="fa fa-calendar"></i>Monday</p>
		<p class="opening-times-time">Closed</p>
	</div>
	<div class="clearfix opening-times-row">
		<p class="opening-times-day"><i class="fa fa-calendar"></i>Tuesday</p>
		<p class="opening-times-time">9am - 4pm</p>
	</div>
	<div class="clearfix opening-times-row">
		<p class="opening-times-day"><i class="fa fa-calendar"></i>Wednesday</p>
		<p class="opening-times-time">9am - 4pm</p>
	</div>
	<div class="clearfix opening-times-row">
		<p class="opening-times-day"><i class="fa fa-calendar"></i>Thursday</p>
		<p class="opening-times-time">9am - 4pm</p>
	</div>
	<div class="clearfix opening-times-row">
		<p class="opening-times-day"><i class="fa fa-calendar"></i>Friday</p>
		<p class="opening-times-time">9am - 4pm</p>
	</div>
	<div class="clearfix opening-times-row">
		<p class="opening-times-day"><i class="fa fa-calendar"></i>Saturday</p>
		<p class="opening-times-time">9am - 4pm</p>
	</div>
	<div class="clearfix opening-times-row last">
		<p class="opening-times-day"><i class="fa fa-calendar"></i>Sunday</p>
		<p class="opening-times-time">9am - 4pm</p>
	</div>
</div>